@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* TODO: Go to declaration css class
    1. Right click on display-4 and select Go to ... Declaration 
    2. Rider will show chose of declarations 
*@
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
