@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* TODO: Create Css Isolation
1. .cshtml.css file should be linked with .cshtml file *@
    <link rel="stylesheet" href="CssIsolation.styles.css" />
</div>
