@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @* TODO: Create Css Isolation
1. Run Project
2. The styles will then only be applied to their respective views and pages *@
    <link rel="stylesheet" href="CssIsolation.styles.css" />
</div>
